body {
  color: grey;
  height: 95vh;
  width: 50vw;
  background-color: bisque;
}

header {
  font-weight: bold;
  font-size: 25pt;
  text-decoration: underline;
}

#meme {
  color: turquoise;
  text-transform: uppercase;
}

#js {
  font-style: oblique;
  flex-direction: column-reverse;
  color: blue;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

article {
  flex-grow: 1;
}

footer {
  text-align: center;
}

#meme-viewer {
  display: flex;
  height: 100%;
}

#meme-viewer > :first-child {
  flex-grow: 1;
}
#meme-viewer > div {
  padding: 10px 5px;
  overflow-y: scroll;
  text-align: center;
  min-width: 300px;
}
#meme-viewer .col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col > div {
  width: 48%;
}
.col input {
  width: 90%;
}
