body{
    color:grey;
    height: 95vh;
    width: 95vw;
    background-color:bisque;
}

header{
    font-weight: bold;
    font-size: 25pt;
    text-decoration: underline;
}

#meme{
    color:turquoise;
    text-transform: uppercase;

}

#js{
    font-style: oblique;
    flex-direction: column-reverse;
    color:blue;
}

#main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

article{
    flex-grow: 1;
}

footer{
    text-align: center;
}

#meme-viewer{
    display: flex;
}